/* DOCUMENT SETUP */

:root {
  font-family: "Heebo", Helvetica, Arial, sans-serif;
  font-size: 0.625rem;
  color: var(--text);
  --text: #150f13;
  --background: #f4f0f2;
  --background-off-colour: #f4f2f0;
  --primary: #543b4a;
  --secondary: #b5a097;
  --accent: #927c68;
  --square-grid-width: 60rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: font-weight 100ms;
}
a:hover {
  font-weight: bold;
}

body {
  background: var(--background);
}

h1 {
  margin-top: 5%;
  font-size: 4.4rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
  margin-block: -0.75rem 1rem;
}

#grid-container {
  display: grid;
  aspect-ratio: 1 / 1;
  width: var(--square-grid-width);
  height: auto;
  margin: 0 auto 1.5rem auto;
  background: var(--background-off-colour);
  border: 3px solid var(--secondary);
  border-radius: 3px;
}
#grid-container .grid-cell {
  border: 1px solid rgba(90, 90, 90, 0.4);
  cursor: pointer;
  transition: background-color 200ms;
}

#settings {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: var(--square-grid-width);
}
#settings div {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2.2rem;
  border-radius: 5px;
  color: var(--background);
  font-size: 1.8rem;

  transition: transform 200ms;
}
#settings div:hover {
  transform: scale(1.05);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--secondary);
  padding-block: 1.5rem 0.75rem;
  font-size: 1.4rem;
  text-align: center;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.75rem;
  width: 100%;
  max-width: 0;
  background: var(--accent);
  transition: max-width 500ms ease-in;
}
footer:hover::before {
  max-width: 100%;
}


